<div class="container">
    <h2 class="title">Tus Actividades al Aire Libre</h2>
    <div *ngIf="actividades.length === 0" class="empty-state">
      <p>No tienes actividades al aire libre creadas.</p>
      <button class="btn-create" (click)="crearActividad()">Crear actividad</button>
    </div>
    <div *ngIf="actividades.length > 0" class="activity-list">
        <button class="btn-create" (click)="crearActividad()">Crear actividad</button>
        <div *ngFor="let actividad of actividades" class="activity-card">
        <h3>{{ actividad.nombre }}</h3>
        <p>{{ actividad.descripcion }}</p>
        <div class="actions">
          <button class="btn btn-view" (click)="verActividad(actividad.idServicio)">Ver</button>
          <button class="btn btn-edit" (click)="editarActividad(actividad.idServicio)">Editar</button>
          <button class="btn btn-delete" (click)="eliminarActividad(actividad.idServicio)">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
  